<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LogonServlet</servlet-name>
        <servlet-class>servlets.LogonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInventoryServlet</servlet-name>
        <servlet-class>servlets.ViewInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInventoryServlet</servlet-name>
        <servlet-class>servlets.UpdateInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectedBookServlet</servlet-name>
        <servlet-class>servlets.SelectedBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogonServlet</servlet-name>
        <url-pattern>/Logon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInventoryServlet</servlet-name>
        <url-pattern>/ViewInventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInventoryServlet</servlet-name>
        <url-pattern>/UpdateInventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectedBookServlet</servlet-name>
        <url-pattern>/SelectedBook</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Logon.jsp</welcome-file>
    </welcome-file-list>
</web-app>
